.overlay {
  display: flex;
  flex-direction: column;
  opacity: 0.87;
  background: #f1edec;
  height: 100vh;
  padding: 15px;
  display: none;
}

.overlay .closebtn-parent {
  position: relative;
  width: 33px;
  height: 33px;
  background: #eddcbc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  margin-left: auto;
}

.overlay .closebtn-parent:hover {
  background: #e0c592;
}

.overlay .closebtn-parent .closebtn {
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  color: #5c5c5c;
}

.overlay .overlay-content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.overlay .overlay-content a {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #5c5c5c;
  font-size: 14px;
  padding: 13px 0;
  border-bottom: 1px solid #eddcbc;
  transition: 0.3s;
}

.overlay .overlay-content a:hover {
  color: #ab966f;
}

.overlay .overlay-content a:nth-child(6) {
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
  color: #5c5c5c;
  font-size: 14px;
  font-weight: bold;
  padding: 13px 0;
}

.overlay .overlay-content a:nth-child(6):hover {
  color: #ab966f;
}

.overlay .grid-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 30px 0;
  justify-content: space-between;
}

.overlay .grid-icons a:first-child,
.overlay .grid-icons a:last-child {
  position: relative;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  border: 2px solid #5c5c5c;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #5c5c5c;
  font-size: 12px;
  font-weight: bold;
  justify-self: end;
}

.overlay .grid-icons a:last-child {
  border: 2px solid #c9b083;
  color: #c9b083;
  justify-self: start;
}
