/* css variables */
:root {
  --primary: #5c5c5c;
  --secondary: #e0c592;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

body {
  overflow-x: hidden;
  font-family: "PlayfairDisplay";
  color: var(--primary);
}

/* Overlay Nav-menu */
.overlay {
  display: flex;
  flex-direction: column;
  opacity: 0.87;
  background: #f1edec;
  height: 96.9vh;
  padding: 15px;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.overlay .closebtn-parent {
  position: relative;
  width: 33px;
  height: 33px;
  background: #eddcbc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  margin-left: auto;
}

.overlay .closebtn-parent:hover {
  background: #e0c592;
}

.overlay .closebtn-parent .closebtn {
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  color: #5c5c5c;
}

.overlay .overlay-content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
}

.overlay .overlay-content a {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #5c5c5c;
  font-size: 14px;
  padding: 13px 0;
  border-bottom: 1px solid #eddcbc;
  transition: 0.3s;
  width: 100%;
}

.overlay .overlay-content a:hover {
  color: #ab966f;
}

.overlay .overlay-content a:nth-child(6) {
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
  color: #5c5c5c;
  font-size: 14px;
  font-weight: bold;
  padding: 13px 0;
}

.overlay .overlay-content a:nth-child(6):hover {
  color: #ab966f;
}

.overlay .grid-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 30px 0;
  justify-content: space-between;
}

.overlay .grid-icons a:first-child,
.overlay .grid-icons a:last-child {
  position: relative;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  border: 2px solid #5c5c5c;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #5c5c5c;
  font-size: 12px;
  font-weight: bold;
  justify-self: end;
}

.overlay .grid-icons a:last-child {
  border: 2px solid #c9b083;
  color: #c9b083;
  justify-self: start;
}

.container {
  /* margin: 15px; */
}

.nav-menu {
  display: flex;
  flex-direction: row;
  background: url("assets/sky.jpg");
  padding: 15px;
  justify-content: center;
}

.nav-menu .logo {
  width: 150px;
  opacity: 0.7;
}

.nav-menu .cart-icon {
  background: url("assets/cart.PNG") no-repeat;
  width: 30px;
  margin-left: auto;
  padding-right: 5px;
  transition: 0.3s;
}

.nav-menu .cart-icon:hover {
  background: url("assets/cart-2.PNG") no-repeat;
  width: 30px;
  padding-right: 5px;
}

.menu-btn {
  padding-left: 15px;
  padding-top: 5px;
}

.menu-btn img {
  cursor: pointer;
  margin: auto 0;
}

.menu-list,
.menu-list-2 {
  display: none;
}

.banner-section {
  position: relative;
  height: 100vh;
}

/* Sky img */
.banner-section .sky {
  background-image: url("assets/sky.jpg");
  min-height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

/* Latemar img */
.banner-section .latemar {
  background-image: url("assets/latemar.png");
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  height: auto;
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: 1;
}

/* Montagna img */
.banner-section .montagna {
  background-image: url("assets/montagna.png");
  min-height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: 2;
}

/* Cloud-2 img */
.banner-section .cloud-2 {
  background-image: url("assets/clouds-02.png");
  min-height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: 3;
}

/* Cloud-3 img */
.banner-section .cloud-2 {
  background-image: url("assets/clouds-03.png");

  width: 100%;
  background-attachment: scroll;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: 4;
}

.banner-text {
  position: fixed;
  top: 39vh;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.banner-section .banner-text p {
  display: block;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  font-weight: normal;
  font-size: 31px;
  text-align: center;
  padding-bottom: 5px;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 43%;
  left: 52%;
  height: 30px;
  width: 30px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 3px solid #c9b083;
  border-top-color: transparent;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.main-content-section {
  background-image: linear-gradient(#fff, #f6f1f0);
  text-align: center;
  padding-bottom: 80px;
}

.main-content-section .first-section {
  margin: 30px;
}

.main-content-section h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 23px;
}

.main-content-section p {
  color: #acacac;
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 26px;
  margin-bottom: 30px;
}

.main-content-section .our-story-btn,
.goto-shop-btn {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 15px;
  display: block;
  border: 2px solid #eddcbc;
  padding: 13px 0;
  text-transform: uppercase;
  color: var(--primary);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  transition: 0.3s;
  text-align: center;
}

.main-content-section .our-story-btn:hover {
  border: 2px solid #e0c592;
  background-color: #e0c592;
}

.main-content-section .goto-shop-btn {
  border: 2px solid #eddcbc;
  background-color: #eddcbc;
  margin-bottom: 70px;
}

.main-content-section .goto-shop-btn:hover {
  border: 2px solid #e0c592;
  background-color: #e0c592;
}

.main-content-section .today-suggestion {
  text-transform: initial;
  font-weight: bolder;
  color: #e0c592;
}

.main-content-section .card {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.main-content-section .card .product-cards {
  text-align: left;
  margin-top: 20px;
  padding: 10px 10px;
  transition: 0.3s ease;
  /* width: 87%; */
  width: 100%;
}

#hidden-cards {
  display: none;
}

.main-content-section .card .product-cards:hover {
  /* border: 1px solid black;     */
  transition: opacity 0.3s;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
}

.pasta-types {
  position: relative;
  margin: 0;
  width: 100%;
  height: 370px;
  display: inline-block;
  overflow: hidden;
}

.pasta-types img:nth-child(1) {
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.pasta-types img:nth-child(1):hover {
  transform: translatey(0);
  animation: float 8s ease-in-out infinite;
  top: -12%;
  left: 0;
}

@keyframes float {
  0% {
    transform: translatey(20px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(20px);
  }
}

.pasta-types img:nth-child(2) {
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.pasta-types img:nth-child(3) {
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.main-content-section .product-cards .product-label-1 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary);
}

.main-content-section .product-cards .product-label-2 {
  font-size: 21px;
  font-family: "PlayfairDisplay";
  font-weight: bold;
  text-transform: capitalize;
  color: var(--primary);
}

.main-content-section .product-cards p {
  margin-bottom: 0;
}

.price-and-cart {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: var(--primary);
}

.price-and-cart p {
  font-weight: bold;
  color: var(--primary);
}

.card .product-cards .price-and-cart .cart-icon {
  background: url("assets/cart.PNG") no-repeat;
  width: 30px;
  height: 30px;
  margin-left: auto;
  padding-right: 5px;
  transition: 0.3s;
}

.card .product-cards .price-and-cart .cart-icon:hover {
  background: url("assets/cart-2.PNG") no-repeat;
}

/* Newsletter Section */
.newsletter {
  background-color: #f7f8f4;
  text-align: center;
  padding: 30px 10px;
}

.newsletter h1,
h3,
input[type="email"],
button {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.newsletter h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 29px;
  margin-bottom: 50px;
}

.newsletter input[type="email"] {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px 0;
  line-height: 26px;
  width: 95%;
  border: none;
  border: 1px solid var(--primary);
  transition-duration: 0.3s;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.newsletter input[type="email"]:focus {
  background-color: #fff;
  padding: 8px;
  padding-left: 15px;
  border-color: #9a9a9a;
}

::placeholder {
  color: #5c5c5c;
  font-weight: 600;
  opacity: 1;
}

.newsletter #agree {
  margin-top: 20px;
}

.newsletter .check-box {
  width: 95%;
  margin-bottom: 15px;
}

.newsletter label,
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #999;
  line-height: 24px;
  width: 85%;
  text-align: left;
  cursor: pointer;
}

.newsletter a {
  color: #c9b083;
  text-decoration: underline;
  transition: 0.3s;
  font-weight: 600;
}

.newsletter a:hover {
  color: #ab966f;
}

.newsletter .subscribe {
  border: 2px solid #eddcbc;
  background-color: #f7f8f4;
  padding: 15px 0 15px 0;
  transition: 0.3s;
  text-transform: uppercase;
  color: var(--primary);
  font-size: 13px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.newsletter .subscribe:hover {
  border: 2px solid #e0c592;
  background-color: #e0c592;
}

/* Footer */

footer {
  background-color: #e7e8e3;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 23px;
  color: #9a9a9a;
}

footer .logo {
  width: 150px;
  opacity: 0.5;
  margin-bottom: 15px;
}

footer .dropdown {
  margin-top: 20px;
  position: relative;
  display: inline-block;
  border-top: 1px solid #d0d0cc;
  border-bottom: 1px solid #d0d0cc;
  width: 100%;
}

#footer-menu-list {
  display: none;
}

footer .customers-service-btn {
  background-color: #e7e8e3;
  color: var(--primary);
  padding: 8px 0 8px 0;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: left;
}

footer .customers-service-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

footer .follow-us {
  font-weight: normal;
  font-size: 16px;
  color: var(--primary);
  opacity: 1;
  margin-top: 25px;
}

footer .social-medias {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-right: 10px;
  margin-bottom: 30px;
}

footer .social-medias a {
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 20px;
}

footer .social-medias .fb-icon {
  background: url("assets/fb-icon.PNG") no-repeat center center/cover;
  width: 26px;
  height: 26px;
}

footer .social-medias .fb-icon:hover {
  background: url("assets/fb-icon-2.PNG") no-repeat center center/cover;
  width: 26px;
  height: 26px;
}

footer .social-medias a:nth-child(2) {
  background: url("assets/twitter-icon.PNG") no-repeat center center/cover;
  width: 26px;
  height: 26px;
}

footer .social-medias a:nth-child(2):hover {
  background: url("assets/twitter-icon-2.PNG") no-repeat center center/cover;
  width: 26px;
  height: 26px;
}

footer .social-medias a:nth-child(3) {
  background: url("assets/pinterest-icon.PNG") no-repeat center center/cover;
  width: 26px;
  height: 26px;
}

footer .social-medias a:nth-child(3):hover {
  background: url("assets/pinterest-icon-2.PNG") no-repeat center center/cover;
  width: 26px;
  height: 26px;
}

footer .social-medias a:last-child {
  background: url("assets/ig-icon.PNG") no-repeat center center/cover;
  width: 26px;
  height: 26px;
}

footer .social-medias a:last-child:hover {
  background: url("assets/ig-icon-2.PNG") no-repeat center center/cover;
  width: 26px;
  height: 26px;
}

footer .payment-methods {
  background-color: #dadcd4;
  margin: -20px;
}

footer .payment-methods p {
  background-color: #dadcd4;
  padding: 15px 35px 10px;
  font-size: 12px;
  width: 500px;
  margin: 0 auto;
}

footer .payment-methods img {
  display: block;
  margin: 0 auto;
  padding-bottom: 15px;
}

/* Media Queries */
@media screen and (min-width: 480px) {
  .pasta-types {
    height: 698px;
  }
}

/* Small tablet styles */
@media screen and (min-width: 767px) {
  .nav-menu {
    padding: 15px 30px;
  }

  .menu-list {
    display: none;
  }

  .banner-section img:first-child {
    padding-top: 0;
  }

  .banner-section .banner-text p {
    font-size: 49px;
  }

  .main-content-section {
    padding-bottom: 80px;
  }

  .main-content-section h1 {
    font-size: 29px;
  }

  .main-content-btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 65%;
    margin: 0 auto;
  }

  .main-content-section .our-story-btn,
  .goto-shop-btn {
    width: 90%;
    margin-bottom: 0;
  }

  .main-content-section .goto-shop-btn {
    margin-bottom: 0;
  }

  .pasta-types {
    height: 370px;
  }

  .today-suggestion {
    line-height: 38px;
    margin-top: 60px;
  }

  .main-content-section .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
  }

  #hidden-cards {
    display: block;
  }

  #hidden-cards:last-child {
    display: none;
  }

  .newsletter {
    padding: 45px 30px;
  }

  .newsletter h1 {
    font-size: 29px;
  }

  .newsletter h3 {
    font-size: 19px;
  }

  .newsletter input[type="email"] {
    width: 75%;
  }

  .newsletter .check-box {
    width: 75%;
    margin-left: 9.5%;
  }

  .newsletter .subscribe {
    margin-top: 10px;
    width: 20%;
    display: block;
    margin-left: 10%;
  }

  footer {
    padding: 70px 40px;
  }

  footer .footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  footer div:first-child {
    grid-column: 1/2;
    grid-row: 1;
  }

  footer .follow-us-container {
    grid-column: 2/3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
  }

  footer .follow-us-container .follow-us {
    margin-top: 0;
    margin-left: 50%;
  }

  footer .follow-us-container .social-medias {
    margin: 0 auto;
    margin-left: 50%;
  }

  footer .dropdown {
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  #footer-menu-list {
    display: none;
  }

  footer .payment-methods {
    background-color: #dadcd4;
    margin: -70px -40px;
    margin-top: 70px;
  }

  footer .payment-methods p {
    background-color: #dadcd4;
    padding: 15px 35px 10px;
    font-size: 12px;
    width: 500px;
    margin: 0 auto;
  }

  footer .payment-methods img {
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
  }
}

/* Laptops and large tablets styles */
@media screen and (min-width: 992px) {
  .nav-menu {
    padding: 10px 32px;
  }

  .nav-menu .cart-icon {
    width: 24px;
    padding-right: 10px;
    margin-left: 5px;
    margin-top: 18px;
  }

  .nav-menu .cart-icon:hover {
    margin-top: 18px;
  }

  .banner-section img:first-child {
    padding-top: 0;
  }

  .menu-btn {
    display: none;
  }

  .menu-list {
    display: block;
    margin-left: auto;
    margin-top: 25px;
  }

  .menu-list-2 {
    display: block;
    margin-top: 25px;
  }

  .menu-list ul,
  .menu-list-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .menu-list ul li,
  .menu-list-2 ul li {
    float: left;
  }

  /* .menu-list ul li:nth-child(6) {
    display: block;
    padding: 10px 30px;
  } */

  .menu-list-2 {
    margin-left: auto;
  }

  .menu-list ul li a,
  .menu-list-2 ul li a {
    width: 100%;
    display: block;
    padding: 8px;
    text-transform: uppercase;
    transition: 0.3s;
    font-size: 14px;
    font-weight: bold;
    color: var(--primary);
    padding-top: 0;
    padding-bottom: 0;
  }

  .menu-list ul li a:hover,
  .menu-list-2 ul li a:hover {
    text-decoration: underline;
    color: #ab966f;
  }

  .today-suggestion {
    margin-top: 135px;
  }

  .main-content-section {
    padding-bottom: 150px;
  }

  .main-content-section .first-section {
    margin: 30px auto;
    max-width: 995px;
  }

  .main-content-section .card {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }

  #hidden-cards:last-child {
    display: block;
  }

  .newsletter h1 {
    margin-top: 25px;
  }

  .newsletter input[type="email"] {
    width: 60%;
  }

  .newsletter .check-box {
    width: 65%;
    margin-left: 15%;
  }

  .newsletter .subscribe {
    margin-top: 10px;
    width: 17%;
    display: block;
    margin-left: 18%;
  }

  footer {
    padding: 60px 35px;
  }

  footer .footer-grid {
    display: flex;
    flex-direction: row;
  }

  footer .dropdown {
    display: none;
  }

  footer #footer-menu-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding: 0;
    padding-top: 40px;
  }

  footer #footer-menu-list {
    font-size: 14px;
    line-height: 23px;
  }

  footer #footer-menu-list .footer-menu {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 15px;
  }

  footer #footer-menu-list li a {
    color: var(--primary);
    transition: 0.3s;
  }

  footer #footer-menu-list li a:hover {
    color: #ab966f;
    text-decoration: underline;
  }

  footer .social-medias {
    padding-right: 0;
  }

  footer .follow-us-container {
    margin-left: 25px;
    margin-top: 20px;
  }

  footer .follow-us-container .follow-us {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  footer .follow-us-container .social-medias {
    margin-left: 0;
  }

  footer .payment-methods {
    display: flex;
    flex-direction: row;
  }

  footer .payment-methods p,
  img {
    margin: 0;
    padding-top: 18px;
  }

  footer .payment-methods p {
    font-size: 14px;
    font-weight: normal;
    width: 60%;
  }
}

/* Desktops and larger screen styles */
@media screen and (min-width: 1299px) {
  .container {
    background: url("assets/sky.jpg");
    height: 100vh;
  }

  .nav-menu {
    margin: 0 auto;
    width: 1250px;
  }

  .menu-list {
    display: block;
    margin-left: auto;
    margin-right: 10;
    margin-top: 25px;
  }

  .banner-section img:first-child {
    padding-top: 0;
  }

  .banner-text {
    top: 36vh;
  }

  .banner-section .banner-text p {
    font-size: 72px;
  }

  .main-content-section {
    padding-bottom: 150px;
  }

  .main-content-btn {
    width: 50%;
  }

  .main-content-section .first-section {
    margin: 0 auto;
    max-width: 995px;
  }

  .main-content-section h1 {
    font-size: 36px;
  }

  .main-content-section p {
    margin-bottom: 60px;
  }

  .main-content-section .card {
    margin: 0 auto;
    width: 1250px;
    margin-top: 100px;
  }

  .newsletter {
    padding: 105px 30px 90px;
  }

  .newsletter h1 {
    font-size: 36px;
  }

  .newsletter h3 {
    font-size: 20px;
  }

  .newsletter div {
    margin: 0 auto;
    width: 750px;
  }

  .newsletter input[type="email"] {
    /* max-width: 700px; */
    width: 95%;
    margin: 0 auto;
  }

  .newsletter .check-box {
    /* max-width: 737px; */
    width: 100%;
    text-align: left;
    margin: 0 auto;
  }

  .newsletter .subscribe {
    /* max-width: 160px; */
    width: 21%;
    margin-left: 0;
  }

  footer {
    padding: 110px 65px 60px;
  }

  footer .footer-grid {
    margin: 0 auto;
    max-width: 1300px;
  }

  footer #footer-menu-list {
    padding-top: 20px;
  }

  footer .follow-us-container {
    margin-top: 15px;
    margin-left: auto;
    line-height: 26px;
  }

  footer .payment-methods {
    margin: -70px -65px;
    margin-top: 70px;
  }
}
